<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		body {
			background-color: lightgrey;
		}

		table {
			border-collapse: collapse;
			margin-top: 3rem;
			border: 1px solid black;
		}

		th,
		td {
			border: 1px solid black;
			padding: 8px;
		}

		#myflex {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		#del:hover {
			background-color: rgba(246, 116, 116, 0.821);
		}
	</style>
</head>

<body>
	<div id="myflex">
		<form action="<%=apie%>/insert" method="POST" autocomplete="off">
			<label for="name" style="font-weight: bolder; font-size: large;">Name:</label>
			<input type="text" id="name" name="name" required>
			<input type="submit" value="Submit">
		</form>
		<table>
			<tr>
				<th>Student</th>
				<th>Delete</th>
			</tr>
			<% students.forEach(function(student) { %>
				<tr>
					<td>
						<%= student.Name %>
					</td>
					<td>
						<form action="<%=apie%>/delete" method="post">
							<input type="hidden" name="studentId" value="<%= student.Personid %>">
							<button type="submit" id="del">Delete</button>
						</form>
					</td>
				</tr>
				<% }); %>
		</table>
	</div>
</body>

</html>